body {
  margin: 0;
  padding: 0;
  font-family: itim, sans-serif;
  background-color: #f5f5dc;
}

/* bloco de estilização de cabecalio */

header {
  background-color: burlywood;
  color: #7b0909;
  display: flex;
  text-align: center;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
  border-radius: 0.1%;
}

header.navgation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  width: 80%;
}

.banner h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* estilização do menu */

nav a {
  text-decoration: none;
  color: #7b0909;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  background-color: burlywood;
  border-radius: 5px;
  cursor: pointer;
}

nav a:hover {
  color: #f5f5dc;
}

/* estilização da seçãos */

main {
  width: 80%;
  margin: 2rem auto;
}

.categoria {
  margin-bottom: 2rem;
}

h2 {
  color: #7b0909;
  font-size: xx-large;
  margin: 40px;
}

.produto {
  background-color: #f5f5dc;
  color: #7b0909;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.produto img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.preco {
  font-weight: bold;
  color: #7b0909;
  margin-bottom: 1rem;
}

.adicionar {
  background-color: burlywood;
  color: #f5f5dc;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}
.adicionar:hover {
  background-color: #7b0909;
}
footer {
  text-align: center;
  padding: 1rem 0;
  background-color: burlywood;
  counter-reset: #fff;
  color: #7b0909;
  border-radius: 1%;
}
/* estilo de responsividade */
@media (min-width: 768px) {
  main {
    width: 60%;
  }
  .categoria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
}
